.bg-img {
  background-image: linear-gradient(to right, rgba(32, 156, 72, .6), rgba(32, 156, 72, .6)), url(img/newcityhall.jpg);
  min-height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 4rem;
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 15px; 
  border: 1px solid #000000; 
  overflow: hidden; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

form .form-control {
  border-radius: 10px; 
  border: 1px solid #000000; 
  transition: border-color 0.3s; 
  background-color: #d2d2d2;
}

.card .form-control:hover,
.card .form-control:focus {
border-color: rgba(32, 156, 72, .6);
border-width: 3px;
outline: none;
}

.container select.form-select {
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #d2d2d2;
  transition: border-color 0.3s;
}

.container select.form-select:hover {
  border-color: rgba(32, 156, 72, .6);
  border-width: 3px;
  outline: none;
}

.container{
  margin-top: 4rem;
}

form .form-control, 
form .form-select {
border-radius: 10px !important;
border: 1px solid #000000;
padding: 10px;
}

.btn {
  border-radius: 10px;
}

.copyright{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  align-self:center;
  text-align:center;
  margin-top:50px;
}
